{
  "app": {
    "guid": "5819aed3-7207-4773-b1af-1eb4773a4144"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "NTgxOWFlZDMtNzIwNy00NzczLWIxYWYtMWViNDc3M2E0MTQ0",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "SSO",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {
      "security.oauth2.client.clientId": "clientId",
      "security.oauth2.client.clientSecret": "clientSecret",
      "security.oauth2.client.accessTokenUri": "accessTokenUri",
      "security.oauth2.client.userAuthorizationUri": "userAuthorizationUri",
      "security.oauth2.client.clientAuthenticationScheme": "form",
      "security.oauth2.client.scope": "openid profile email",
      "security.oauth2.resource.userInfoUri": "userInfoUri",
      "security.oauth2.resource.preferTokenInfo": "false",
      "security.oauth2.sso.login-path": "/login",
      "security.oauth2.saml.entityId": "entityId",
      "security.oauth2.saml.metadataUrl": "metadataUrl",
      "security.oauth2.saml.storeFile": "storeFile",
      "security.oauth2.saml.storePass": "storePass",
      "security.oauth2.saml.privateKey": "privateKey",
      "security.oauth2.saml.privateKeyPass": "privateKeyPass"
    },
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.aookra",
      "backend": "true",
      "theme": "Material",
      "authentication": "SSO",
      "frontend": "true"
    }
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}